<% if @pictures.any? %>
  <% @pictures.each do |picture| %>

    <%= render partial: "picture", locals: { picture: picture } %>

  <% end %>
<% else %>
  <p>No pictures yet</p>
<% end %>
<%= link_to "Add a picture", new_picture_path %>
