

<div class="tag-form-holder">
  <%= form_for [@picture, @tag] do |f| %>
    <%= f.text_field :description %>
    <%= f.submit "Add Tag" %>
  <% end %>
</div>


<%= render partial: "picture", locals: { picture: @picture } %>
