.tag-form-holder{
  max-width: 40%;
  margin: auto;
  margin-top: 20px;
}

.tags {
  display: inline-block;
  border: solid 1px #a1b3d1;
  border-radius: 8px;
  background-color: #ddeaff;
  padding: 5px;
  margin-right: 3px;
}

.tag-holder {
  border-top: dashed 2px #edeff2;
}
